name: Generate Snake

on:
  schedule:
    - cron: "0 0 * * *"  # هر روز نیمه شب
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # دریافت آخرین نسخه main
      - name: Checkout main
        uses: actions/checkout@v3
        with:
          ref: main

      # ساخت مار و ذخیره در dist/
      - name: Generate Snake Animation
        uses: Platane/snk@v3
        with:
          github_user_name: alirezasdb
          output: dist/github-contribution-grid-snake.svg

      # push فایل به branch output
      - name: Push Snake to output branch
        uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

